@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');
body {
  font-family: 'Outfit', sans-serif; 
  text-align: center;
  background-color: #fefefe;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: #1e1e1e;
}
.online::selection {
  color: #229954;
}
.offline::selection {
  color: #CB4335;
}
.status.online {
  color: #CB4335;
}
.status.offline {
  color: #229954;
}
.button {
  display: none
}